<div class="container-sm">
    <label for="inputPassword5" class="form-label">Password</label>
    <input id="inputPassword5" type="password" class="form-control" aria-describedby="passwordHelpBlock" [(ngModel)]="password" (input)="checkPasswordStrength()" placeholder="Enter your password">
</div>
<div class="container-sm">
    <div class="strength-section" [ngStyle]="{ 'background-color': section1Color }"></div>
    <div class="strength-section" [ngStyle]="{ 'background-color': section2Color }"></div>
    <div class="strength-section" [ngStyle]="{ 'background-color': section3Color }"></div>
</div>  